# docker run -it --rm postgres:latest psql -h host.docker.internal -p 5454 -U admin -d weekly_scheduler_db
# \dt
# \d table_name

DATABASE_URL="postgresql://<login>:<password>@localhost:5454/weekly_scheduler_db?schema=public"
JWT_SECRET="<secret>"